In [1]:
# MongoDB Connection Setup
from pymongo import MongoClient
from dotenv import load_dotenv
import os

load_dotenv()
uri = os.getenv("MONGODB_URI")
client = MongoClient(uri)
db = client["eduhub_db"]

print("✅ Connected to MongoDB successfully.")

✅ Connected to MongoDB successfully.

In [3]:
# Insert a sample user
sample_user = {
    "userId": "U100",
    "firstName": "Notebook",
    "lastName": "Tester",
    "email": "notebookuser@example.com",
    "role": "student",
    "isActive": True
}

result = db.users.insert_one(sample_user)
print(f"✅ Inserted user with _id: {result.inserted_id}")

✅ Inserted user with _id: 6849b934a10b35872998ec14

In [6]:
import pandas as pd

users = db.users.find({}, {"_id": 0})
df_users = pd.DataFrame(list(users))
df_users.head()

,userId,email,firstName,lastName,role,dateJoined,profile,isActive
0,U001,user1@example.com,First1,Last1,student,2025-06-11T10:16:39.958222,"{'bio': 'Bio of user 1', 'avatar': 'https://ex...",True
1,U002,user2@example.com,First2,Last2,student,2025-06-11T10:16:39.958233,"{'bio': 'Bio of user 2', 'avatar': 'https://ex...",True
2,U003,user3@example.com,First3,Last3,student,2025-06-11T10:16:39.958237,"{'bio': 'Bio of user 3', 'avatar': 'https://ex...",True
3,U004,user4@example.com,First4,Last4,student,2025-06-11T10:16:39.958240,"{'bio': 'Bio of user 4', 'avatar': 'https://ex...",True
4,U005,user5@example.com,First5,Last5,instructor,2025-06-11T10:16:39.958244,"{'bio': 'Bio of user 5', 'avatar': 'https://ex...",True

In [7]:
# Count total students
pipeline = [
    {"$match": {"role": "student"}},
    {"$group": {"_id": "$role", "total": {"$sum": 1}}}
]

agg_result = list(db.users.aggregate(pipeline))
pd.DataFrame(agg_result)

       _id  total
0  student     19

In [ ]:
### Conclusion
This notebook demonstrates basic and advanced operations with MongoDB using PyMongo, including:
- Connecting to MongoDB Atlas securely
- Inserting and querying data
- Performing updates and aggregations